extends template

block content
	
	.container-fluid
		header
			h1 Create Journal
		.centerDetails
			h3 Create A Journal
			br
			form.formInput(method='POST', action='/createJournals', id='submit')
				label(for='journalName') Journal Name
				br
				input(type='text', name='journalName', placeholder='Enter the name for your journal')
				br
				label(for='journalDescription') Journal Description
				br
				input(type='text', name='journalDescription', placeholder='Enter the description for your journal')
				br
				br
				button.btn.btn-primary.btn-block(onclick="document.getElementById('submit').submit();") Save
				br

		