extends template

block content
	.container-fluid
		header
			.container
				h1 Professional Journal
				ul.nav.nav-tabs.nav-fill
					li.nav-item
						a.nav-link(href='/journals') Journals
					li.nav-item
						a.nav-link(href='/search') Search
					li.nav-item.dropdown
						a.nav-link.dropdown-toggle(data-toggle='dropdown', href='', role='button', aria-haspopup='true', aria-expanded='false') My Account
						.dropdown-menu
							a.dropdown-item(href='/profile-details') Profile
							.dropdown-divider
							a.dropdown-item(href='') Sign Out

		.alignCenter
		form(method="POST", action="/entryeditor/" + journalId)
			br
			br
			textarea(id="entry" rows="30" cols="100" name="userEntry")
				| This is the Journal Text Area
			button(type='save') Save
				//put this in bottom right corner? help
			label Last Save: Blah Blah

				//get this bottom part to work - send it to mongo and load from mongo
