extends template

block content
	if (!user)
		h3 You are not logged in!
		a(href='/signin')
			p Click here to sign in
		a(href='/register')
			p Click here to sign up
	if(user)
		-var journalID = journalId;
		.container-fluid
			header
				.container
					// Keeps nav at center of screen
					h1 ENTRIES
					if (user)
						h3 Welcome #{user.full_name}
					ul.nav.nav-tabs.nav-fill
						li.nav-item
							a.nav-link.active(href='#') Entries
						li.nav-item
							a.nav-link(href='signin') Sign Out
			.createJournalButton
				form(method="GET", action="/entryeditor/" + journalID, id="create")
					button#addJournalButton + Create A Entry
			#overlay
			#popup
				.popupForm
					form(method="POST", action="/createJournals", id="create")
						x
						br
						input#journalName(type='text', name='journalName', placeholder='Enter Journal Name')
						br
						.popupButtons
							button#createButton Create
							button#cancelButton Cancel
			- for (var i = 0; i < entries.length; i++) {
			

				.clickablePanel(onclick="/")
					.heading
						| #{entries[i].journalName}
					.body
						p!= entries[i].description
						
				
			- }