extends template

block content
	.container-fluid
		header
			.container
				h1 Professional Journal
				ul.nav.nav-tabs.nav-fill
					li.nav-item
						a.nav-link(href='/journals') Journals
					li.nav-item
						.navSearch
							input.searchTerm(type='text', placeholder='Search All Journals')
							button.searchButton(type='submit')
								i.fa.fa-search
						a.nav-link(href='/search') Advanced Search
					li.nav-item
						a.nav-link(href='signin') Sign Out

		.alignCenter
		form(method="POST", action="/entryeditor/" + journalId)
			br
			.container
				input(type='text', name='entry_name', placeholder='Enter Entry Name')
				button(type='save') Save Entry
				label Last Edited On: INSERT TIMESTAMP HERE
			br
			textarea(id="entry" rows="30" cols="100" name="userEntry")
				| This is the Journal Text Area
