extends template

block content
    .container-fluid
        header
            .container
                // Keeps nav at center of screen
                h1 Professional Journal
                ul.nav.nav-tabs.nav-fill
                    li.nav-item
                        a.nav-link(href='#') Journals
                    li.nav-item
                        a.nav-link(href='search') Advanced Search
                    li.nav-item
                        a.nav-link(href='signin') Sign Out

        .alignCenter
            br
            br
            textarea(id="entry" rows="30" cols="100")
                | This is the Journal Text Area
        .alignRight
            button(type='save') Save
            //put this in bottom right corner? help
            label Last Save: Blah Blah

            //get this bottom part to work - send it to mongo and load from mongo
