extends template

block content
	if (!user)
		h3 You are not logged in!
		a(href='/signin')
			p Click here to sign in
		a(href='/register')
			p Click here to sign up
	if(user)
		.container-fluid
			header
				.container
					// Keeps nav at center of screen
					h1 INSERT JOURNAL TITLE
					if (user)
						h3 Welcome #{user.full_name}
					ul.nav.nav-tabs.nav-fill
						li.nav-item
							a.nav-link.active(href='#') Entries
						li.nav-item
							a.nav-link(href='#') Search
						li.nav-item
							a.nav-link(href='signin') Sign Out
			.createJournalButton
				form(method="GET", action="/entryeditor", id="entryeditor")
					button#addJournalButton + Create A New Journal Entry
			#overlay