extends template

block content
	if (!user)
		h3 You are not logged in!
		a(href='/signin')
			p Click here to sign in
		a(href='/register')
			p Click here to sign up
	if(user)
		-var journalID = journalId;
		.container-fluid
			header
				.container
					h1 Professional Journal
					if (user)
						h3 Welcome #{user.full_name}
					ul.nav.nav-tabs.nav-fill
						li.nav-item
							a.nav-link(href='/journals') Journals
						li.nav-item
							.navSearch
								input.searchTerm(type='text', placeholder='Search All Journals')
								button.searchButton(type='submit')
									i.fa.fa-search
							a.nav-link(href='/search') Advanced Search
						li.nav-item
							a.nav-link(href='signin') Sign Out
			//display Journal Name here instead
			br
			h3.alignCenter #{journalID} 
			.createJournalButton
				form(method="GET", action="/entryeditor/" + journalID, id="create")
					button#addJournalButton + Create An Entry
			#overlay
			#popup
				.popupForm
					form(method="POST", action="/createJournals", id="create")
						x
						br
						input#journalName(type='text', name='journalName', placeholder='Enter Journal Name')
						br
						.popupButtons
							button#createButton Create
							button#cancelButton Cancel
			.panel
				.heading
					| Entries
				.body
					table(style="width:100%")
						tr
							th Journal Entry Name
							th Date Created
							th History
							th Hide
							th Delete
						- for (var i = entries.length - 1; i >= 0; i--) {
						form(method="GET", action='/entrychanger/' + journalId + '/' + entries[i]._id, id='' + i)
						tr
							td(onclick='document.getElementById("' + i + '").submit();', style="cursor:pointer")
								!= entries[i]._id
							td #{entries[i].timestamp}
							td 
								img(src="/images/historyIcon.png", style="width:25px;height:25px;", onclick="alert('Go to history of entry')")
							td
								img(src="/images/hideIcon.png", style="width:25px;height:25px;", onclick="alert('Hide entry')")
							td  											
								img(src="/images/trashIcon.png", style="width:25px;height:25px;", onclick="alert('Delete entry')")
						- }	