extends template

block content
	.container-fluid
		header
			.container
				// Keeps nav at center of screen
				h1 Professional Journal
				ul.nav.nav-tabs.nav-fill
						li.nav-item
							a.nav-link(href='/journals') Journals
						li.nav-item
							a.nav-link(href='/search') Search
						li.nav-item.dropdown
							a.nav-link.dropdown-toggle(data-toggle='dropdown', href='', role='button', aria-haspopup='true', aria-expanded='false') My Account
							.dropdown-menu
								a.dropdown-item(href='/profile-details') Profile
								.dropdown-divider
								a.dropdown-item(href='') Sign Out

		.alignCenter
		form(method="POST", action="/entrychanger/" + journalId + "/" + currentRecord._id)
			br
			.container
				input(id="entry_name", type='text', name='entry_name', value= "" + currentRecord.entryName)
				
				button(type='save') Save Entry
				label Last Edited On: timestamp
			br
			textarea(id="entry" rows="30" cols="100" name="userEntry")
				p!= currentRecord.description
			- for(var i = oldRecords.length - 1; i >= 0; i--){
				.clickablePanel()
					.body
						p!=oldRecords[i].description
			- }
