extends template

block content
	.container-fluid
		header
			.container
				h1 Professional Journal
				ul.nav.nav-tabs.nav-fill
					li.nav-item
						a.nav-link(href='/journals') Journals
					li.nav-item
						a.nav-link(href='/search') Search
					li.nav-item.dropdown
						a.nav-link.dropdown-toggle(data-toggle='dropdown', href='', role='button', aria-haspopup='true', aria-expanded='false') My Account
						.dropdown-menu
							a.dropdown-item(href='/profile-details') Profile
							.dropdown-divider
							a.dropdown-item(href='') Sign Out

		.alignCenter
		form(method="POST", action="/entryeditor/" + journalId)
			br
			.container
				.alignCenter
					input#entryNameTf(type='text', name='entryName', placeholder='Entry Name')
				
				br
				textarea(id="entry" rows="20" name="userEntry")
				br
				.alignCenter
					button.btn.btn-primary(type='save') Save Entry
