extends template

block content
	.container-fluid
		header
			// Keeps nav at center of screen
			h1 Professional Journal

			.alignRight
				ul.nav.flex-column
					li.nav-item
						a.nav-link(href='register') Create Account
					li.nav-item
						a.nav-link(href='signin') Sign In
		
		br
		br
		.alignCenter
			h2 Get started with your free, easy to use, professional journal
			br
			button.btn.btn-primary.btn-lg#startBtn(type='button') Start Your Free Journal

		
	script.
		document.getElementById("startBtn").addEventListener("click", function(){
			document.location.href='register';
		});