extends layout

block content
	//this is a method of displaying text
	h1= title
	//This is a method of inserting variables into text
	p Welcome to #{title}
	- var entries = example
	ul
		for index in entries
			li= index


	input(type="text", name="userName")
	input(type="submit", value="Submit")