extends template

block content

	if (!user)
		h3 You are not logged in!
		a(href='/signin')
			p Click here to sign in
		a(href='/register')
			p Click here to sign up
	if(user)
		.container-fluid
			header
				.container
					// Keeps nav at center of screen
					h1 Professional Journal
					ul.nav.nav-tabs.nav-fill
						li.nav-item
							a.nav-link.active(href='') Journals
						li.nav-item
							a.nav-link(href='/search') Search
						li.nav-item.dropdown
							a.nav-link.dropdown-toggle(data-toggle='dropdown', href='', role='button', aria-haspopup='true', aria-expanded='false') My Account
							.dropdown-menu
								a.dropdown-item(href='/profile-details') Profile
								.dropdown-divider
								a.dropdown-item(href='') Sign Out
					br
					h3 Welcome #{user.full_name}
			.createJournalButton
				form(method="GET", action="/createJournal", id="create")
					button#addJournalButton + Create A New Journal
			#overlay
			#popup
				.popupForm
					form(method="POST", action="/createJournals", id="create")
						x
						br
						input#journalName(type='text', name='journalName', placeholder='Enter Journal Name')
						br
						.popupButtons
							button#createButton Create
							button#cancelButton Cancel
			- for (var i = journals.length - 1; i >= 0; i--) {
				-var jid = journals[i]._id;
				//p= jid
				form(method="GET", action='/journal/' + jid, id='' + i)
					.clickablePanel(onclick='document.getElementById("' + i + '" ).submit();')
						.heading
							| #{journals[i].journalName}
						.body
							| #{journals[i].description}
						
				
			- }
