extends template

block content

	if (!user)
		h3 You are not logged in!
		a(href='/signin')
			p Click here to sign in
		a(href='/register')
			p Click here to sign up
	if(user)
		.container-fluid
			header
				.container
					// Keeps nav at center of screen
					h1 Professional Journal
					if (user)
						h3 Welcome #{user.full_name}
					ul.nav.nav-tabs.nav-fill
						li.nav-item
							a.nav-link.active(href='#') Journals
						li.nav-item
							.navSearch
								input.searchTerm(type='text', placeholder='Search All Journals')
								button.searchButton(type='submit')
									i.fa.fa-search
							a.nav-link.active(href='search') Advanced Search
						li.nav-item
							a.nav-link(href='signin') Sign Out
			.createJournalButton
				//form(method="GET", action="/createJournal", id="create")
					///button#addJournalButton + Create A New Journal
			#overlay
			#popup
				.popupForm
					form(method="POST", action="/createJournals", id="create")
						x
						br
						input#journalName(type='text', name='journalName', placeholder='Enter Journal Name')
						br
						.popupButtons
							button#createButton Create
							button#cancelButton Cancel
			- for (var i = 0; i < journals.length; i++) {
				-var jid = journals[i]._id;
				p= jid
				form(method="GET", action='/journal/' + jid, id='' + i)
					.clickablePanel(onclick='document.getElementById("' + i + '" ).submit();')
						.heading
							| #{journals[i].journalName}
						.body
							| #{journals[i].description}
						
				
			- }
			//Popup functionality
			script(src="/javascripts/popup.js")
			script.
				window.onload = function() {
					document.getElementById("addJournalButton").onclick = function(){
					var overlay = document.getElementById("overlay");
					var popup = document.getElementById("popup")
					overlay.style.display = "block";
					popup.style.display = "block";
				};
	
				document.getElementById("cancelButton").onclick = function(){
					var overlay = document.getElementById("overlay");
					var popup = document.getElementById("popup");
					overlay.style.display = "none";
					popup.style.display = "none";
				};

				document.getElementById("createButton").onclick = function(){
					var overlay = document.getElementById("overlay");
					var popup = document.getElementById("popup");
					overlay.style.display = "none";
					popup.style.display = "none";
					var journalName = document.getElementById("journalName").value;
					if(journalName == "") {
						alert('Please enter a name for the journal');
					}
					else {
						alert('Journal created with name: ' + journalName);
					}
				};
