extends template

block content
	.container-fluid
		header
			.container
				// Keeps nav at center of screen
				h1 Professional Journal
				ul.nav.nav-tabs.nav-fill
					li.nav-item
						a.nav-link.active(href='#') Journals
					li.nav-item
						.navSearch
							input.searchTerm(type='text', placeholder='Search All Journals')
							button.searchButton(type='submit')
								i.fa.fa-search
						a.nav-link.active(href='search') Advanced Search
					li.nav-item
						a.nav-link(href='signin') Sign Out
		.createJournalButton
			button#addJournalButton + Create A New Journal
		#overlay
		#popup
			.popupForm
				form.popupInput
					| Create A New Journal
					br
					input#journalName(type='text', name='journalName', placeholder='Enter Journal Name')
					br
					.popupButtons
						button#createButton Create
						button#cancelButton Cancel

		.clickablePanel(onclick="alert('Go to table of journal entries')")
			.heading
				| Journal 1
			.body
				ul#list(style='list-style-type:none')
					li Journal Entry 1
					li Journal Entry 2
					li Journal Entry 3
		.clickablePanel(onclick="alert('Go to table of journal entries')")
			.heading
				| Journal 2
			.body
				ul#list(style='list-style-type:none')
					li Journal Entry 1
					li Journal Entry 2
					li Journal Entry 3
		.clickablePanel(onclick="alert('Go to table of journal entries')")
			.heading
				| Journal 3
			.body
				| This is the journal's description. It states what the journal does and what it is used for.
		.clickablePanel(onclick="alert('Go to table of journal entries')")
			.heading
				| Journal 4
			.body
				| This is the journal's description. It states what the journal does and what it is used for.
		.clickablePanel(onclick="alert('Go to table of journal entries')")
			.heading
				| Journal 5
			.body
				| This is the journal's description. It states what the journal does and what it is used for.

		//Popup functionality
		script(src="/javascripts/popup.js")
