extends template

block content
	.container-fluid
		header
			h1 Professional Journal
			.alignRight
				ul.nav.flex-column
					li.nav-item
						a.nav-link(href='register') Create Account
	
		.centerDetails
			h3 Sign In
			br
			form(method='POST', action='/signin', id='login')
				label(for='username') Username
				br
				input(type='text', name='username', placeholder='Enter Username')
				br
				label(for='password') Password
				br
				input(type='password', name='password', placeholder='Enter Password')
				br
				br
				a.btn.btn-primary.btn-block(onclick="document.getElementById('login').submit();") Login
				br
				input(type='checkbox', checked='checked')
				|  Remember me
				br
				br
				|Don't have an account? 
				a(href='register') Create Account
		