extends template

block content
	.container-fluid
		header
			h1 Professional Journal
			.alignRight
				ul.nav.flex-column
					li.nav-item
						a.nav-link(href='register') Create Account
	
		.centerDetails
			h3 Sign In
			br
			form.formInput(method='POST', action='/signin', id='loginForm')
				label(for='username') Username
				input(type='text', name='username', placeholder='Enter Username')
				br
				label(for='password') Password
				input(type='password', name='password', placeholder='Enter Password')
				br
				br
				button#loginBtn.btn.btn-primary.btn-block(type='submit') Login
				br
				input(type='checkbox', checked='checked') 
				|  Remember me
				br
				br
				|Don't have an account? 
				a(href='register') Create Account
		

	script.
		document.getElementById('loginBtn').addEventListener("click", function(){
			document.getElementById('loginForm').submit();
		})