extends template

block content

	.container-fluid
		header
			.container
				h1 Professional Journal
				ul.nav.nav-tabs.nav-fill
					li.nav-item
						a.nav-link(href='/journals') Journals
					li.nav-item
						a.nav-link(href='/search') Search
					li.nav-item.dropdown
						a.nav-link.dropdown-toggle.active(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') My Account
						.dropdown-menu
							a.dropdown-item(href='#') Profile
							.dropdown-divider
							a.dropdown-item(href='#') Sign Out
		.panel
			.heading
				| Your Details
			.body.alignCenter
				.container
					ul.nav.nav-tabs.nav-fill
						li.nav-item
							a.nav-link(href='/profile-details') Change Details
						li.nav-item.bold
							a.nav-link().active Change Password
					form.formInput
						br
						label(for='oldPassword' style='font-weight: bold') Old Password
						br
						input(type='password', name='oldPassword')
						br
						label(for='newPassword' style='font-weight: bold') New Password
						br
						input(type='password', name='newPassword')
						br
						label(for='newPasswordConfirm' style='font-weight: bold') Confirm New Password
						br
						input(type='password', name='newPasswordConfirm')
						br
						br
						button#registerBtn.btn.btn-primary(type='submit') Change Password
					
			