extends template

block content
	.container-fluid
		header
			h1 Professional Journal
			.alignRight
				ul.nav.flex-column
					li.nav-item
						a.nav-link(href='signin') Use Existing Account
		.centerDetails
			h3 Create Account
			p #{errormsg}
			
			form.formInput(method='POST', action='/register', id='registerForm')
				
				label(for='name') Full Name
				input(type='text', name='name', placeholder='Enter Full Name')
				label(for='username') Username
				input(type='text', name='username', placeholder='Username')
				label(for='email') Email 
				input(type='email', name='email', placeholder='Enter your email address')
				label(for='password') Password 
				input(type='password', name='password', placeholder='Enter Password')
				label(for='password-confirm') Confirm Password
				input(type='password', name='password-confirm', placeholder='Enter Password Again')
				label(for='user-color') Color in HEX (#FFFFFF)
				input(type='text', name='user-color', placeholder='Enter Your Favourite Color')
				br
				br
				//a.btn.btn-primary.btn-block(onclick="document.getElementById('register').submit();") Register
				button#registerBtn.btn.btn-primary.btn-block(type='submit') Register


	script.
		document.getElementById('registerBtn').addEventListener("click", function(){
			document.getElementById('registerForm').submit();
		})