extends template

block content
	.container-fluid
		header
			h1 Professional Journal
			.alignRight
				ul.nav.flex-column
					li.nav-item
						a.nav-link(href='signin') Use Existing Account
		.centerDetails
			h3 Create Account
			p #{errormsg}
			
			br
			form(method='POST', action='/register', id='register')
				
				|Full Name
				br
				input(type='text', name='name', placeholder='Enter Full Name')
				br
				|Username
				br
				input(type='text', name='username', placeholder='Username')
				br
				|Email
				br
				input(type='email', name='email', placeholder='Enter your email address')
				br
				|Password
				br
				input(type='password', name='password', placeholder='Enter Password')
				br
				|Confirm Password
				br
				input(type='password', name='password-confirm', placeholder='Enter Password Again')
				br
				|Color in HEX (#FFFFFF)
				input(type='text', name='usercolor', placeholder='Enter Your Favourite Color')
				br
				br
				a.btn.btn-primary.btn-block(onclick="document.getElementById('register').submit();") Register