extends template

block content
    container-fluid
        header
            .container
                // Keeps nav at center of screen
                h1 Professional Journal
                ul.nav.nav-tabs.nav-fill
                    li.nav-item
                        a.nav-link(href='#') Journals
                    li.nav-item
                        a.nav-link.active(href='searchJournals') Search
                    li.nav-item
                        a.nav-link(href='signin') Sign Out
        .createSearchButton
            input(type="text" id="myInput" placeholder="Search for names.." title="Type in a name")

            ul(id="myUL")
                li
                    a Journal 1
                li
                    a Journal 2
                li
                    a Journal 3
                li
                    a Journal 4
                li
                    a Journal 5
                li
                    a Journal 6
                li
                    a Journal 7
                li
                    a Journal 8
                li
                    a Journal 9
                li
                    a Journal 10
                li
                    a Journal 11
                li
                    a Journal 12

            script.
                document.getElementById("myInput").onkeyup = function () {
                    var input, filter, ul, li, a, i;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    ul = document.getElementById("myUL");
                    li = ul.getElementsByTagName("li");
                    for (i = 0; i < li.length; i++) {
                        a = li[i].getElementsByTagName("a")[0];
                        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            li[i].style.display = "";
                        } else {
                            li[i].style.display = "none";

                        }
                    }
                };