extends template

block content
	if (!user)
		h3 You are not logged in!
		a(href='/signin')
			p Click here to sign in
		a(href='/register')
			p Click here to sign up
	if(user)
		-var journalID = journalId;
		.container-fluid
			header
				.container
					h1 Professional Journal
					ul.nav.nav-tabs.nav-fill
						li.nav-item
							a.nav-link(href='/journals') Journals
						li.nav-item
							a.nav-link(href='/search') Search
						li.nav-item.dropdown
							a.nav-link.dropdown-toggle(data-toggle='dropdown', href='', role='button', aria-haspopup='true', aria-expanded='false') My Account
							.dropdown-menu
								a.dropdown-item(href='/profile-details') Profile
								.dropdown-divider
								a.dropdown-item(href='/logout') Sign Out
			
			br

			h3.alignCenter 
 
			.createJournalButton
				form(method="GET", action="/entryeditor/" + journalID, id="create")
					button#addJournalButton + Create An Entry
			#overlay
			#popup
				.popupForm
					form(method="POST", action="/createJournals", id="create")
						x
						br
						input#journalName(type='text', name='journalName', placeholder='Enter Journal Name')
						br
						.popupButtons
							button#createButton Create
							button#cancelButton Cancel
			//Search Bar
			form(method="POST",  action='/search/' + journalId, id='search')
				.panel
					.heading.collapsible(data-toggle='collapse', href='#collapse1')
						|Search Entries  
						i.fa.fa-arrow-right
					#collapse1.panel-collapse.collapse
						.body.alignCenter
							.wrap
								.advSearch
									input#myInput.searchTerm(type='text', placeholder='Keywords', name='searchText')
									//button.searchButton(type='submit', onclick="window.location='/search/" + journalId)
										i.fa.fa-search
							br
							br
							.addPaddingToChildren
								input#showHidden(type='checkbox', value='showHidden', name='hiddenBox')
								label(for='showHidden') Search hidden
								input#showHidden(type='checkbox', value='showDeleted', name='deletedBox')
								label(for='showHidden') Search deleted
								br
								button.btn.btn-primary#applyBtn(type='button', onclick='document.getElementById("search").submit();') Apply

			//Entry Table
			.panel
				.heading
					| Entries
				.body
					table(style="width:100%")
						tr
							th Journal Entry Name
							th Date Created
							th History
							th Hide
							th Delete
						- for (var i = entries.length - 1; i >= 0; i--) {
						- if (1==1){
						form(method="GET", action='/entrychanger/' + journalId + '/' + entries[i]._id, id='' + i)
						tr
							td(onclick='document.getElementById("' + i + '").submit();', style="cursor:pointer")

								//Substring ensures only the start of description is displayed
								!=entries[i].entryName
							td 
								|#{entries[i].timestamp}
							td 
								img(src="/images/historyIcon.png", style="width:25px;height:25px;", onclick="window.location='/entrychanger/" + journalId + "/" + entries[i]._id + "'")
							td
								img(src="/images/hideIcon.png", style="width:25px;height:25px;", onclick="window.location='/hide/" + journalId + "/" + entries[i]._id + "'")
							td  											
								img(src="/images/trashIcon.png", style="width:25px;height:25px;", onclick="window.location='/delete/" + journalId + "/" + entries[i]._id + "'")
							- }
						- }
				script.
					$(document).ready(function () {
						SetContrast("#{user.colour_choice}");


						function HexToRgb(hex) {
							var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
							return result ? {
								r: parseInt(result[1], 16),
								g: parseInt(result[2], 16),
								b: parseInt(result[3], 16)
							} : null;
						}

						function SetContrast(hex) {

							var red = HexToRgb(hex).r;
							var green = HexToRgb(hex).g;
							var blue = HexToRgb(hex).b;


							var o = Math.round(((red * 299) +
								(green * 587) +
								(blue * 114)) / 1000);
							console.log(o);

							var fore = (o > 125) ? 'black' : 'white';
							var back = 'rgb(' + red + ',' + green + ',' + blue + ')';

							$('.heading').css('color', fore);
							$('.heading').css('background-color', back);

						}
					});